DOMAIN_NAME=
CERT_PATH=
KEY_PATH=
MYSQL_DATABASE=
MYSQL_USER=
WP_ADMIN_EMAIL=
WP_USER_EMAIL=
WP_USER_ROLE=

NGINX_HTTPS_PORT=
FTP_PORT=
FTP_PASSIVE_MIN=
FTP_PASSIVE_MAX=

WORDPRESS_FPM_PORT=
ADMINER_PORT=
PORTAINER_PORT=
STATIC_SITE_PORT=
MARIADB_PORT=
REDIS_PORT=
